/*============================= G L O B A L =============================*/
.w50 {
  width: 50%;
}

.w33 {
  width: 33%;
}

.w30 {
  width: 30%;
}

.w26 {
  width: 32%;
}

.main-cl {
  color: #c19a5b;
}

.sp320,
.sp375,
.sp425 {
  display: none;
}

.img-l {
  float: left;
  margin: 5px 50px 20px 0;
  line-height: 0;
  letter-spacing: 0;
}

.img-r {
  float: right;
  margin: 8px 0 20px 48px;
  line-height: 0;
  letter-spacing: 0;
}

.img-c {
  text-align: center;
  margin: 0 auto 33px;
  line-height: 0;
  letter-spacing: 0;
}

.text-ft {
  text-align: right;
  margin-top: 20px;
}

.main-under section,
.main-under .section {
  margin-bottom: 88px;
}
.main-under section:last-child,
.main-under .section:last-child {
  margin-bottom: 0;
}
.main-under p:last-child,
.main-under table:last-child {
  margin-bottom: 0;
}
.main-under p {
  margin-bottom: 15px;
  line-height: 2.14;
  letter-spacing: -0.5px;
}
.main-under a:hover {
  color: #c19a5b;
}
.main-under #content {
  padding: 0 0;
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
}

#topic-path {
  margin: 17px 0 77px;
}
#topic-path .topic-list {
  display: flex;
  flex-wrap: wrap;
}
#topic-path li {
  position: relative;
}
#topic-path li:not(:first-child) {
  letter-spacing: -1px;
}
#topic-path li::after {
  content: "/";
  display: inline-block;
  padding: 0 8px;
}
#topic-path li:last-child::after {
  display: none;
}
#topic-path a:hover {
  color: #c19a5b;
}

.under-visual {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  background-color: #000;
  background-image: url("../images/udr-bg01.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.under-visual h2 {
  position: relative;
  text-align: center;
  letter-spacing: -2px;
  width: 100%;
  font-size: 43px;
  line-height: 1.4;
  font-family: "Noto Serif JP", serif;
  font-weight: 300;
}
.under-visual h2 span {
  color: #c19a5b;
  font-weight: 600;
  margin-right: 5px;
}

.udr-mvs {
  max-width: 1920px;
  width: 100vw;
  min-width: 1280px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}
.udr-mvs .mvs-title {
  padding: 15px 0 0 200px;
  line-height: 1.4;
  position: relative;
  z-index: 0;
}
.udr-mvs .mvs-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #e6e6e6;
  width: 460px;
  height: 300px;
  z-index: -1;
}
.udr-mvs .mvs-en {
  font-size: 100px;
  color: #c9caca;
  text-transform: uppercase;
  padding-bottom: 1px;
  margin-bottom: 20px;
  position: relative;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 1.5px;
}
.udr-mvs .mvs-en::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 40px;
  height: 1px;
  background-color: #333;
}
.udr-mvs .mvs-jp {
  display: block;
  font-family: "Noto Serif JP", serif;
  font-size: 36px;
  line-height: 1.61;
  margin-left: 4px;
  letter-spacing: 3.3px;
}
.udr-mvs .mvs-jp .main-cl {
  font-weight: 500;
}
.udr-mvs .mvs-img {
  margin-left: 50px;
  margin-right: -40px;
}

.main-under .h3,
.main-under .h4,
.main-under .h5,
.main-under .h6 {
  font-family: "Noto Serif JP", serif;
}
.main-under .h3 {
  font-size: 36px;
  padding-bottom: 10px;
  margin-bottom: 33px;
  text-align: center;
  letter-spacing: -1px;
  position: relative;
  font-weight: 300;
}
.main-under .h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 1px;
  background-color: #c19a5b;
}
.main-under .h3 span {
  color: #c19a5b;
  font-weight: 500;
  margin-right: 5px;
}
.main-under .h4 {
  font-size: 30px;
  letter-spacing: -0.5px;
  line-height: 1.4;
  margin-bottom: 22px;
  position: relative;
  padding-left: 19px;
  font-weight: 300;
}
.main-under .h4::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 1px;
  height: 32px;
  background-color: #c19a5b;
}
.main-under .h4 span {
  color: #c19a5b;
  font-weight: 500;
  margin-right: 5px;
}
.main-under .h5 {
  font-weight: 500;
  font-size: 24px;
  color: #c19a5b;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-bottom: 14px;
  position: relative;
  padding-left: 24px;
}
.main-under .h5::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid #c19a5b;
}
.main-under .h6 {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.under-tbl {
  width: 100%;
}
.under-tbl.tbl-left td {
  text-align: left;
}
.under-tbl.tbl-fix {
  table-layout: fixed;
}
.under-tbl td,
.under-tbl th {
  border-color: #dcdddd;
  vertical-align: middle;
  padding: 24px 10px 26px;
  text-align: center;
}
.under-tbl th {
  background-color: #333;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  font-family: "Noto Serif JP", serif;
  letter-spacing: -1px;
  text-align: center;
  border-color: #333;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.under-tbl td {
  font-weight: 500;
  padding: 15px 28px;
  vertical-align: middle;
}

.under-list li {
  position: relative;
  padding: 0 0 0 16px;
  margin-bottom: 16px;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
}
.under-list li::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 8px;
  height: 7px;
  width: 7px;
  background: #c19a5b;
  transform: rotate(45deg);
}
.under-list li:last-child {
  margin-bottom: 0;
}
.under-list.list-bx {
  display: flex;
  flex-wrap: wrap;
  margin: -5px -10px;
}
.under-list.list-bx li {
  margin: 5px 10px;
}

.under-frame {
  background-color: #fff;
  border: 1px #dcdddd solid;
  padding: 46px 49px 48px;
  position: relative;
}
.under-frame.fme-st .frame-ig {
  margin-top: 0;
}

.under-step .h3 {
  margin-bottom: 48px;
}
.under-step dl {
  margin-bottom: 78px;
  position: relative;
}
.under-step dl:last-child {
  margin-bottom: 0;
}
.under-step dl:last-child::before {
  display: none;
}
.under-step dl::before {
  content: "";
  position: absolute;
  bottom: -44px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #c19a5b transparent transparent transparent;
}
.under-step dt {
  float: left;
  margin: 5px 51px 15px 0;
}
.under-step .step-tt {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 30px;
  position: relative;
  line-height: 1.4;
  padding-left: 20px;
  margin-bottom: 13px;
}
.under-step .step-tt::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 1px;
  height: 32px;
  background-color: #333;
}
.under-step .step-en {
  font-weight: 500;
  font-size: 83.3333%;
  margin-right: 16px;
  font-family: "Noto Sans JP", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.under-step .step-jp {
  font-family: "Noto Serif JP", serif;
}
.under-step .step-jp span {
  color: #c19a5b;
  font-weight: 500;
  margin-right: 5px;
}
.under-step .under-tbl {
  max-width: 500px;
}

.qa-list .qa-item {
  margin-bottom: 40px;
}
.qa-list .qa-item:last-child {
  margin-bottom: 0;
}
.qa-list .qa-a,
.qa-list .qa-q {
  width: 80px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 5px 12px;
  background-color: #c19a5b;
}
.qa-list .qa-q {
  background-color: #333;
  color: #fff;
  margin-right: 20px;
}
.qa-list .qa-a {
  background-color: #c19a5b;
  color: #fff;
  margin-left: 20px;
}
.qa-list dt,
.qa-list dd {
  position: relative;
  z-index: 0;
}
.qa-list dt::before,
.qa-list dd::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -5px;
  z-index: -1;
}
.qa-list dt {
  display: flex;
  border: 1px solid #333;
  margin-bottom: 15px;
}
.qa-list dt::before {
  left: -5px;
  background-color: #333;
}
.qa-list dt p {
  font-size: 24px;
  line-height: 1.4;
  margin-top: 2px;
  font-weight: bold;
}
.qa-list dd {
  display: flex;
  border: 1px solid #c19a5b;
}
.qa-list dd::before {
  right: -5px;
  background-color: #c19a5b;
}
.qa-list dd p {
  line-height: 1.4;
}
.qa-list .qa-itm {
  position: relative;
  background-color: #fff;
  padding: 10px;
  z-index: 1;
  display: flex;
  width: 100%;
}

.under-pickup {
  background: url("../images/udr-bg-pu.jpg") center no-repeat;
  background-size: cover;
  width: 100vw;
  min-width: 1280px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 71px 0 86px;
  color: #fff;
}
.under-pickup .pu-wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.under-pickup .pu-title {
  position: relative;
  text-align: center;
  z-index: 0;
  padding-bottom: 26px;
  margin-bottom: 42px;
}
.under-pickup .pu-title span {
  display: block;
}
.under-pickup .pu-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 74%;
  transform: translateX(-50%);
  background-color: rgba(51, 51, 51, 0.6);
  z-index: -1;
}
.under-pickup .pu-en {
  font-size: 93px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 5px;
  color: #9fa0a0;
  margin-bottom: 22px;
  padding-bottom: 37px;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
}
.under-pickup .pu-en::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 2px;
  background-color: #c9c9c9;
}
.under-pickup .pu-jp {
  font-size: 36px;
  letter-spacing: -2px;
  line-height: 1.4;
  font-family: "Noto Serif JP", serif;
  font-weight: 300;
}
.under-pickup .pu-jp span {
  font-weight: 500;
  color: #c19a5b;
  display: inline-block;
}
.under-pickup .pu-img {
  float: left;
  margin: 8px 50px 0px 0;
}
.under-pickup .pu-desc p {
  letter-spacing: -0.34px;
}

.under-anc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.under-anc li {
  margin: 0 15px 15px;
  width: 280px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.under-anc a {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333333;
  font-size: 15px;
  font-family: "Noto Serif JP", serif;
  font-weight: 300;
  line-height: 1.4;
  text-decoration: none;
  letter-spacing: -1px;
  padding: 13px 45px 16px 17px;
  transition: all 0.3s ease;
  z-index: 1;
  color: #fff;
}
.under-anc a::after {
  content: "";
  position: absolute;
  top: 52%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background-color: #c19a5b;
  transition: all 0.3s ease;
}
.under-anc a:hover:not([target=_blank]) {
  background-color: #c19a5b;
}
.under-anc a:hover:not([target=_blank])::after {
  background-color: #fff;
}
.under-anc a:hover {
  color: #fff;
}

.udr-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
}
.udr-btn .udr-bn {
  display: block;
  background-color: #333;
  color: #fff;
  width: 400px;
  padding: 18px 20px;
  font-size: 15px;
  letter-spacing: -0.5px;
  position: relative;
  transition: all 0.3s ease;
}
.udr-btn .udr-bn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 2px;
  background-color: #c19a5b;
  transition: all 0.3s ease;
}
.udr-btn .udr-bn:hover {
  background-color: #c19a5b;
  color: #fff;
}
.udr-btn .udr-bn:hover::before {
  background-color: #fff;
}

.udr-style01 .slt01-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.udr-style01 li {
  text-align: center;
}
.udr-style01 li:not(.slt01-ar) {
  width: calc((100% - 60px) / 4);
  color: #fff;
  background-color: rgba(51, 51, 51, 0.5);
  border: 1px solid #333;
  padding: 10px;
}
.udr-style01 li.slt01-ar {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.udr-style01 p {
  line-height: 1.8;
}
.udr-style01 .slt01-tt {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.udr-style01 .stl01-ft {
  text-align: right;
  margin-top: 30px;
}

.udr-slider {
  max-width: 800px;
  margin: 0 auto;
}
.udr-slider .slr-bg {
  margin-bottom: 20px;
}
.udr-slider .slr-bg .slr-img {
  height: 340px;
}
.udr-slider .slr-sm {
  max-width: 600px;
  margin: 0 auto;
}
.udr-slider .slr-sm .slick-list {
  margin: 0 -5px;
}
.udr-slider .slr-sm .slr-item {
  margin: 0 5px;
}
.udr-slider .slr-sm .slr-img {
  height: 100px;
}
.udr-slider .slr-sm .slick-arrow::before {
  content: "";
  font-size: 0;
  width: 0;
  height: 0;
  border-style: solid;
}
.udr-slider .slr-sm .slick-next::before {
  border-width: 9px 0 9px 20px;
  border-color: transparent transparent transparent #333;
}
.udr-slider .slr-sm .slick-prev::before {
  border-width: 9px 20px 9px 0;
  border-color: transparent #333 transparent transparent;
}
.udr-slider .slr-box {
  position: relative;
}
.udr-slider .slr-img {
  position: relative;
  line-height: 0;
  background-color: #d6d6d6;
  letter-spacing: 0;
  margin: 0;
}
.udr-slider .slr-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}
.udr-slider .slr-tt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 10px;
  background-color: rgba(51, 51, 51, 0.5);
  font-family: "Noto Serif JP", serif;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
}

.main-under {
  margin-top: 130px;
}
.main-under .sech5 .h5 {
  display: inline-block;
  width: calc(100% - 380px);
}
.main-under .sech5 .img-r,
.main-under .sech5 .img-l {
  margin-top: 2px;
}
.main-under .sech5 .img-r {
  margin-left: 80px;
}
.main-under .text-first {
  letter-spacing: -0.5px;
}
.main-under .text-first p {
  line-height: 2.1;
}
.main-under .text-first + .under-link {
  margin-top: 50px;
}
.main-under .under-bx + .udr-btn, .main-under .under-bx + .under-tbl, .main-under .under-bx + .udr-dl {
  margin-top: 30px;
}

.under-map iframe {
  width: 100%;
}

.under-info {
  position: relative;
  z-index: 0;
  padding-bottom: 74px;
}
.under-info::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  min-width: 1280px;
  height: 60%;
  background-color: #f7f8f8;
  z-index: -1;
}
.under-info .h3 {
  margin-bottom: 60px;
}
.under-info .inf-box {
  margin-bottom: 6px;
}
.under-info .inf-box .inf-img {
  line-height: 0;
  margin-bottom: 14px;
}
.under-info .inf-box .inf-text {
  text-align: center;
}
.under-info .inf-box .inf-job {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -3px;
  font-size: 26px;
  font-family: "Noto Serif JP", serif;
  line-height: 1;
}
.under-info .inf-box .inf-job .inf-sm {
  font-size: 57.6923%;
  display: inline-block;
  margin-right: 15px;
}
.under-info .inf-box .inf-en {
  color: #c19a5b;
  opacity: 0.7;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 1px;
}
.under-info .inf-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.under-info .inf-item {
  width: 480px;
}
.under-info .inf-item:last-child {
  margin-top: 73px;
  padding-left: 10px;
}
.under-info .inf-h5 {
  position: relative;
  padding-left: 23px;
  font-size: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  margin-bottom: 26px;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.under-info .inf-h5::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  border: 1px solid #c19a5b;
}
.under-info .inf-lst li {
  margin-bottom: 7.6px;
}
.under-info .inf-lst li:last-child {
  margin-bottom: 0;
}
.under-info .inf-lst a[target=_blank] {
  color: #333;
  text-decoration: underline;
}

.under-post .h3 {
  margin-bottom: 50px;
}
.under-post .pst-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
  margin: 0 auto;
  column-gap: 80px;
}
.under-post .pst-item {
  width: 230px;
}
.under-post .pst-img {
  line-height: 0;
  position: relative;
  margin-bottom: 25px;
}
.under-post .pst-img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 1px;
  height: 40px;
  background-color: #333;
}
.under-post .pst-title {
  font-size: 24px;
  font-family: "Noto Serif JP", serif;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -1px;
  line-height: 1.3;
}
.under-post .pst-desc {
  font-weight: 500;
  letter-spacing: 0.2px;
}
.under-post .pst-ft {
  border-top: 1px solid #333;
  padding-top: 4px;
  margin-top: 39px;
  font-weight: 500;
  text-align: right;
  letter-spacing: 0.5px;
}

.under-clm .h3 {
  margin-bottom: 40px;
}
.under-clm .clm-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}
.under-clm .clm-item {
  width: calc(50% - 20px);
}
.under-clm .clm-img {
  line-height: 0;
  margin-bottom: 16px;
}
.under-clm .clm-img img {
  width: 100%;
}
.under-clm .clm-tt {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  font-family: "Noto Serif JP", serif;
  padding-left: 23px;
  margin-bottom: 7px;
  line-height: 1.4;
}
.under-clm .clm-tt::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid #c19a5b;
  position: absolute;
  top: 6px;
  left: 0;
}
.under-clm .clm-desc {
  letter-spacing: -0.2px;
}

.under-ba .ba-wrap {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
.under-ba .ba-img {
  position: relative;
  line-height: 0;
  margin: 0;
}
.under-ba .ba-img::before {
  content: "";
  width: 100px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 500;
}
.under-ba .ba-img:nth-child(1)::before {
  content: "Before";
}
.under-ba .ba-img:nth-child(2)::before {
  content: "After";
}

.under-footer {
  position: relative;
  padding: 62px 0;
  z-index: 0;
}
.under-footer::before {
  content: "";
  width: 100vw;
  height: 100%;
  min-width: 1280px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e6e6e6;
  z-index: -1;
}
.under-footer .ft-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}
.under-footer .ft-item {
  width: calc(50% - 20px);
  min-height: 176px;
  position: relative;
  z-index: 0;
  color: #fff;
  padding: 24px 20px 20px;
}
.under-footer .ft-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(51, 51, 51, 0.9);
  mix-blend-mode: multiply;
}
.under-footer .ft-item:nth-child(2) .ft-title {
  letter-spacing: -1px;
}
.under-footer .ft-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.under-footer .ft-img img {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
}
.under-footer .ft-title {
  font-size: 24px;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 9px;
  letter-spacing: 1.4px;
  font-family: "Noto Serif JP", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.under-footer .ft-title span {
  font-size: 83.3333%;
}
.under-footer .ft-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  position: relative;
  padding: 5px;
  width: 300px;
  height: 50px;
  max-width: 100%;
  margin: 0 auto;
  color: #fff;
  border: 1px solid #fff;
}
.under-footer .ft-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(45deg);
  width: 7px;
  height: 7px;
  border: 0px solid #fff;
  border-width: 1px 1px 0 0;
}
.under-footer .btn-w {
  background-color: transparent;
}
.under-footer .btn-w:hover {
  color: #fff;
  border-color: #c19a5b;
  background-color: #c19a5b;
  opacity: 1;
}
.under-footer .btn-m {
  background-color: #c19a5b;
  border-color: #c19a5b;
}
.under-footer .btn-m:hover {
  color: #fff;
}
.under-footer .btn-m::before {
  content: "";
  background: url("../images/ic-email.png") center no-repeat;
  background-size: contain;
  display: inline-block;
  width: 18px;
  height: 12px;
  margin-right: 10px;
}

.tbls-txt li {
  margin-bottom: 10px;
}
.tbls-txt li:last-child {
  margin-bottom: 0;
}
.tbls-txt li a[target=_blank] {
  color: #333;
  text-decoration: underline;
}

.udr-dl {
  display: flex;
  flex-wrap: wrap;
}
.udr-dl.dl-nw .dl-desc {
  text-align: center;
}
.udr-dl dl {
  width: 100%;
}
.udr-dl dl.dl-main dt {
  background-color: #c19a5b;
}
.udr-dl dl.dl-gray dt {
  background-color: rgba(51, 51, 51, 0.5);
}
.udr-dl dt {
  background-color: #333333;
  color: #fff;
  padding: 10px;
  text-align: center;
  border: 1px solid #333333;
  border-bottom: none;
}
.udr-dl dd {
  padding: 15px;
  border: 1px solid #333333;
}
.udr-dl .dl-img {
  text-align: center;
}

/*============================= Overnote =============================*/
.info-page .iop-list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.info-page .iop-item {
  width: calc(33.3333333333% - 20px);
  margin: 10px;
  position: relative;
  border: 1px solid #333333;
  padding: 10px;
}
.info-page .iop-item:hover .iop-img img {
  transform: translate(-50%, -50%) scale(1.1);
}
.info-page .iop-item:hover .iop-tt {
  color: #c19a5b;
}
.info-page .iop-img {
  line-height: 0;
  overflow: hidden;
  background-color: #eeeeee;
  width: 100%;
  height: 220px;
  position: relative;
}
.info-page .iop-img img {
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}
.info-page .iop-content P {
  line-height: 1.4;
}
.info-page .iop-cate {
  background-color: #333333;
  color: #fff;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-page .iop-date {
  margin-bottom: 5px;
}
.info-page .iop-tt {
  margin-bottom: 0;
  font-weight: bold;
  transition: all 0.3s ease;
  font-size: 20px;
}
.info-page .post-lk {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.info-detail .iod-box {
  margin-bottom: 40px;
}
.info-detail .iod-box:last-child {
  margin-bottom: 0;
}
.info-detail .iod-ig {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.info-detail .iod-img {
  max-width: 100%;
  width: 420px;
  height: 290px;
  position: relative;
  background-color: #eeeeee;
  line-height: 0;
  margin-bottom: 0;
}
.info-detail .iod-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}
.info-detail .iod-tbl th {
  width: 30%;
}

.iod-clip {
  display: flex;
  flex-wrap: wrap;
  margin: -7.5px;
}
.iod-clip li {
  margin: 7.5px;
  width: calc(25% - 15px);
  height: 182px;
}
.iod-clip iframe {
  width: 100%;
  height: 100%;
}

.iod-ft {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #c19a5b;
  border-color: #333333;
  padding: 30px;
  position: relative;
  z-index: 0;
  background-color: rgba(51, 51, 51, 0.1);
}
.iod-ft .iod-lt {
  width: 40%;
  padding-right: 15px;
}
.iod-ft .iod-rt {
  width: 60%;
  padding-left: 15px;
}
.iod-ft .iod-logo {
  margin-bottom: 20px;
  display: block;
}
.iod-ft .iod-logo img {
  height: auto;
}
.iod-ft .iod-text {
  margin-bottom: 0;
  font-size: 20px;
}
.iod-ft .iod-info {
  line-height: 1.8;
}
.iod-ft .iod-tkb th,
.iod-ft .iod-tkb td {
  border: none;
  padding: 0;
}
.iod-ft .iod-tkb th {
  vertical-align: top;
  text-align: left;
  width: 100px;
}

.btn_prev_next {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn_prev_next li {
  width: 30%;
  margin: 10px;
}
.btn_prev_next li a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: #fff;
  color: #c19a5b;
  height: 100%;
  text-align: center;
  padding: 22px 40px 20px 40px;
  text-decoration: none;
  border: 2px solid #c19a5b;
  transition: all 0.3s ease;
  font-size: 20px;
}
.btn_prev_next li a:hover {
  color: #fff;
  background-color: #c19a5b;
}
.btn_prev_next .prevPage {
  position: absolute;
  top: 0;
  left: 0;
}
.btn_prev_next .nextPage {
  position: absolute;
  top: 0;
  right: 0;
}

.pagination-wp {
  margin-top: 30px;
  text-align: center;
}
.pagination-wp ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-wp li {
  margin: 0 5px;
}
.pagination-wp li.active a, .pagination-wp li:hover a {
  background-color: #c19a5b;
  color: #fff;
}
.pagination-wp li.active a {
  cursor: default;
}
.pagination-wp li.disabled {
  display: none;
}
.pagination-wp li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: #333;
}

@media screen and (max-width: 750px) {
  .info-page .iop-item {
    width: calc(50% - 20px);
  }
  .info-page .iop-img {
    height: 190px;
  }
  .info-page .iop-tt {
    font-size: 16px;
  }

  .info-detail .iod-img {
    margin-bottom: 20px;
  }
  .info-detail .iod-img:last-child {
    margin-bottom: 0;
  }

  .iod-clip li {
    width: calc(50% - 15px);
  }

  .iod-ft {
    padding: 15px;
    text-align: center;
  }
  .iod-ft .iod-lt {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .iod-ft .iod-rt {
    width: 100%;
    padding-left: 0;
  }
  .iod-ft .iod-logo {
    max-width: 310px;
    margin: 0 auto 10px;
  }
  .iod-ft .iod-text {
    font-size: 16px;
  }
  .iod-ft .iod-tkb {
    width: 350px;
    margin: 0 auto;
  }
  .iod-ft .iod-tkb th {
    width: 80px;
  }
  .iod-ft .iod-tkb td {
    text-align: left;
  }

  .btn_prev_next {
    flex-direction: column;
    align-items: center;
  }
  .btn_prev_next li {
    width: 100%;
    position: static !important;
    max-width: 270px;
  }
  .btn_prev_next li a {
    padding: 10px 20px;
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .info-page .iop-item {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .info-page .iop-item:last-child {
    margin-bottom: 0;
  }
  .info-page .iop-list {
    max-width: 290px;
    margin: 0 auto;
  }
  .info-page .iop-cate {
    width: 110px;
    height: 38px;
    margin-bottom: 12px;
  }

  .iod-clip {
    justify-content: center;
  }
  .iod-clip li {
    width: 322px;
  }
}
@media screen and (max-width: 425px) {
  .info-detail .iod-img {
    height: 220px;
  }

  .iod-ft .iod-tkb {
    width: 100%;
  }
  .iod-ft .iod-tkb tr {
    display: block;
    margin-bottom: 10px;
  }
  .iod-ft .iod-tkb th, .iod-ft .iod-tkb td {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .iod-clip li {
    height: 213px;
  }
}
/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */

/*# sourceMappingURL=under.css.map */
